@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_xxx.woff2') format('woff2'),
       url('//at.alicdn.com/t/font_xxx.woff') format('woff'),
       url('//at.alicdn.com/t/font_xxx.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e600";
}

.icon-profile:before {
  content: "\e601";
}
